%general-flex {
  display: flex;
  align-items: center;
}

.todo-list-item {
  @extend %general-flex;
  justify-content: space-between;

  margin-bottom: 15px;
  padding: 15px 3px;

  border-bottom: 1px solid #b4b4b4;

  &:hover {
    .todo-list-item__right-side {
      visibility: visible;
    }
  }

  &__left-side {
    @extend %general-flex;
  }

  &__right-side {
    visibility: hidden;
    @extend %general-flex;
  }

  &__done-mark {
    position: relative;
    margin-right: 20px;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;

    div {
      position: absolute;
      bottom: -4px;
      right: 0px;
      font-size: 20px;
    }
  }

  &__label {
    font-size: 22px;

    &_done {
      text-decoration: line-through;
      font-size: 22px;
    }
  }

  button {
    @extend %general-flex;


    font-size: 30px;
  }

  &__important-btn {
    margin-left: 20px;
    color: #ffcc00;

    &_important {
      visibility: visible;
      margin-left: 20px;
      color: #ffcc00;
    }
  }

  &__delete-btn {
    color: red;
  }
}